[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
pyjwt = "==1.4.2"
bcrypt = "*"
flask-bcrypt = "*"
bson = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
